.venv/
.idea/
.vscode/
__pycache__
util/__pycache__/
evaluation/__pycache__/
evaluation/constraint_monitors/__pycache__/

# Folder created by setuptools for the pip package creation
build/
cartagen.egg-info/

test
test*.py
cartagen/test

# Remove qgis files
*.qgz

# Removed qgis plugin template
cartagen4qgis-template

# Pypi token file
.pypirc
cartagen/algorithms/__pycache__/__init__.cpython-310.pyc
cartagen/algorithms/buildings/__pycache__/__init__.cpython-310.pyc
/cartagen/algorithms/buildings/__pycache__
*.pyc

# No dist builds in the repo
dist/