.venv/
.idea/
__pycache__
util/__pycache__/
evaluation/__pycache__/
evaluation/constraint_monitors/__pycache__/

# Folder created by setuptools for the pip package creation
build/

test*.py
cartagen4py/test