.venv/
.idea/
__pycache__
util/__pycache__/
evaluation/__pycache__/
evaluation/constraint_monitors/__pycache__/

# Folder created by setuptools for the pip package creation
build/
cartagen4py.egg-info/

test
test*.py
cartagen4py/test

# Removed qgis plugin template
cartagen4qgis-template