.bd-sidebar-primary::-webkit-scrollbar {
    display: none;
}

.bd-sidebar-primary {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.reference {
    text-decoration: none;
}

.table.autosummary tr {
    border-style: hidden;
    background-color: white !important;
}

.table.autosummary tr:hover {
    background-color: #c4d3df !important;
}

.table.autosummary td:last-child {
    text-align: end;
    border: hidden;
}

nav.bd-links li > a:hover {
    text-decoration: none;
}

.navbar-brand logo:hover {
    text-decoration: none;
}

.search-button-field {
    border: none;
}

.search-button-field:hover { 
    border: none;
}